[core]
    editor = nvim
[alias]
    co = checkout
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[fetch]
    prune = true
[http]
	proxy = http://127.0.0.1:7897
[https]
	proxy = https://127.0.0.1:7897
[safe]
	directory = E:/programming/Windots
[user]
	email = zengzhuoxi@gmail.com
	name = Derek
